1 PASKAITA

In [12]:
my_name = 'Justina'
my_surname = "Maslinskaite"
# print(my_name + ' ' + my_surname)
print(f'My name {my_name} and my surname is {my_surname}')
print(f'{my_name} {my_surname}')

My name Justina and my surname is Maslinskaite
Justina Maslinskaite

In [3]:
my_string = 'Python makes me really really happy!'
print(my_string.upper())

PYTHON MAKES ME REALLY REALLY HAPPY!

In [13]:
my_word = my_string[0:6]
print(my_word)
print(my_word.replace('tho', 'ThO'))

Python
PyThOn

In [21]:
sentence = 'Hello World, I am happy to learn Python!'
print(sentence.find('happy'))
print(sentence[18:24])
print(sentence.index('happy'))
print(len('happy'))
print(len(sentence))
print(sentence.find('to'))
print(sentence[24:27])

18
happy
18
5
40
24
to

In [29]:
int1 = 19
int2 = 7

print(int1 + int2)
print(int1 - int2)
print(int1 * int2)
print(int1 / int2)
print(int1 % int2) # kodel 5?

26
12
133
2.7142857142857144
5

In [30]:
print (3 < 4)
print ('u' in 'sun')
print ('s' in 'JUSTINA'.lower ())
print (True == 1)
print (False == 0)
bool ('a')

True
True
True
True
True

True

In [31]:
print (3 > 4)
print ('a' in 'sun')
print ('s' in 'JUSTINA')
print (True == 0)
bool ('')

False
False
False
False

False

In [73]:
list1 = ['stalas', 'kede', 'sofa', 'lova', 'spinta']
print(len(list1))
list1.append('suolas')
print(list1)
'sofa' in list1

list2 = [1, 1, 1, 2, 5, 9, 6, 3, 2, 2, 4]
list3 = list1 + list2
print(list3)
list3.remove(list3[-1])
print(list3)
list3.pop(1)
print(list3)
print(list3.count(1))
list2.sort()
print(list2)

5
['stalas', 'kede', 'sofa', 'lova', 'spinta', 'suolas']
['stalas', 'kede', 'sofa', 'lova', 'spinta', 'suolas', 1, 1, 1, 2, 5, 9, 6, 3, 2, 2, 4]
['stalas', 'kede', 'sofa', 'lova', 'spinta', 'suolas', 1, 1, 1, 2, 5, 9, 6, 3, 2, 2]
['stalas', 'sofa', 'lova', 'spinta', 'suolas', 1, 1, 1, 2, 5, 9, 6, 3, 2, 2]
3
[1, 1, 1, 2, 2, 2, 3, 4, 5, 6, 9]

3 PASKAITA

In [37]:
# Dictionary
car = {'brand' : 'Ford',
'model' : 'Mustang',
'year' : '1964'
}
print(car['brand'])
print(len(car))
car['year'] = '2020'
#car.update( {'year' : 2020})
print(car)

Ford
3
{'brand': 'Ford', 'model': 'Mustang', 'year': '2020'}

In [38]:
car.update({'color' :'red', 'used' : True})
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': '2020', 'color': 'red', 'used': True}

In [39]:
car.pop('brand')
print(car)

{'model': 'Mustang', 'year': '2020', 'color': 'red', 'used': True}

In [40]:
car['year'] = None
print(car)

{'model': 'Mustang', 'year': None, 'color': 'red', 'used': True}

In [ ]:
sort

In [54]:
# set
fruits = {'apple', 'banana', 'cherry'}
fruits.add(('nauja_reiksme', 5))
print(fruits)
# kodel surikiavo?
fruits.remove('apple')
fruits.remove(('nauja_reiksme', 5))
fruits.add('watermelon')
print(fruits)

{'apple', 'cherry', ('nauja_reiksme', 5), 'banana'}
{'cherry', 'banana', 'watermelon'}

In [62]:
fruits = {'apple', 'banana', 'cherry'}
fruits.add('watermelon')
print(fruits)
fruits.update({'orange', 'lemon', 'peach', 'kiwi', 'papaya'})
print(fruits)
fruits.remove('banana')
print(fruits)
fruits.discard('apple')
print(fruits)
print(len(fruits))
fruits.add('kiwi')
print(fruits)
print(len(fruits))

{'apple', 'cherry', 'banana', 'watermelon'}
{'peach', 'kiwi', 'watermelon', 'apple', 'cherry', 'papaya', 'orange', 'banana', 'lemon'}
{'peach', 'kiwi', 'watermelon', 'apple', 'cherry', 'papaya', 'orange', 'lemon'}
{'peach', 'kiwi', 'watermelon', 'cherry', 'papaya', 'orange', 'lemon'}
7
{'peach', 'kiwi', 'watermelon', 'cherry', 'papaya', 'orange', 'lemon'}
7

In [63]:
song_monkey = '''They say, oh my god, I see the way you shine
Take your hands, my dear, and place them both in mine
You know you stopped me dead while I was passing by
And now I beg to see you dance just one more time
Ooh I see you, see you, see you every time
And, oh my, I, I, I like your style
You, you make me, make me, make me wanna cry
And now I beg to see you dance just one more time'''

song_ocean = '''Say it's true, pink and blue
I can share your situation
Been holding our, emotions back
Will only make us cry
If you go, I know, but you know
It ain't so serious anyway
When that cloud arrives we'll live on...'''

In [67]:
print(repr(song_monkey))
word_list1 = song_monkey.replace('\n', ' ').replace(',', ' ').lower().strip().split(' ')
print(len(word_list1))

'They say, oh my god, I see the way you shine\nTake your hands, my dear, and place them both in mine\nYou know you stopped me dead while I was passing by\nAnd now I beg to see you dance just one more time\nOoh I see you, see you, see you every time\nAnd, oh my, I, I, I like your style\nYou, you make me, make me, make me wanna cry\nAnd now I beg to see you dance just one more time'
99

In [1]:
#rasti pasikartojancius elemntus tarp listu a b

a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 15]
b = [3, 8, 9, 11, 15]

# def intersection(a, b):
   # return set(a).intersection(b)
    

 
set_a = set(a)
set_b = set(b)
print(set_a.intersection(set_b))
#intersection_ab = (set_a.intersection(set_b))
#c= list(intersection_ab)
#print(c)

{8, 9, 3, 15}

In [16]:
x = [1, 5, 1, 2, 8, -9, 10, 1, -8, -900, 14, 5, -8, 2, 1, -20, 900, 800, -6, -8, 12, 1]
x_set = set(x)
print(x_set)
for numbers in x_set:
    if numbers > 0:
        print(numbers)

{800, 1, 2, 900, 5, 8, 10, -20, 12, 14, -9, -8, -6, -900}
800
1
2
900
5
8
10
12
14

x = { "cost_price": 32.67,
"sell_price: 45.00",
"inventory": 1212 }
# profit

price1 = float(x.get('cost_price')) * float(x.get('inventory'))
price2 = float(x.get('sell_price')) * float(x.get('inventory'))
profit = price2 - price1
round(profit , 2)
print(profit)

In [5]:
# list compreensive
mainlist = [1, 5, 1, 2, 8, -9, 10, 1, -8, -900, 14, 5, -8, 2, 1, -20, 900, 800, -6, -8, 12, 1]
result_list = []
for number in mainlist:
    if number > 0:
        result_list.append(number)
print(result_list)

[1, 5, 1, 2, 8, 10, 1, 14, 5, 2, 1, 900, 800, 12, 1]

In [4]:
# list compreensive
mainlist1 = [1, 5, 1, 2, 8, -9, 10, 1, -8, -900, 14, 5, -8, 2, 1, -20, 900, 800, -6, -8, 12, 1]
result_list = [number * 2 for number in mainlist if number >0] # trumpasis for ciklas
print(result_list)

[2, 10, 2, 4, 16, 20, 2, 28, 10, 4, 2, 1800, 1600, 24, 2]

In [7]:
lista = [1, 2, 3]
listb = [4, 5, 6]
result = [(a,b) for a in lista for b in listb]
print(result)

[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]