In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
	[ ['Jan',58,42,74,22,2.05],
	['Feb',61,45,78,26,3.02],
	['Mar',65,48,84,25,2.34],
	['Apr',67,50,92,28,1.02],
	['May',71,53,98,35,0.48],
	['Jun',75,56,107,41,0.11],
	['Jul',77,58,105,44,0.0],
	['Aug',77,59,102,43,0.03],
	['Sep',77,57,103,40,0.17],
	['Oct',73,54,96,34,0.81],
	['Nov',64,48,84,30,1.7],
	['Dec',58,42,73,21,2.56],
        ['Dec',58,42,73,21,2.56] ],
	columns = ['month','avg_high','avg_low','record_high','record_low','avg_precipitation'])

In [3]:
df # data frame, standartinis kintamasis

   month  avg_high  avg_low  record_high  record_low  avg_precipitation
0    Jan        58       42           74          22               2.05
1    Feb        61       45           78          26               3.02
2    Mar        65       48           84          25               2.34
3    Apr        67       50           92          28               1.02
4    May        71       53           98          35               0.48
5    Jun        75       56          107          41               0.11
6    Jul        77       58          105          44               0.00
7    Aug        77       59          102          43               0.03
8    Sep        77       57          103          40               0.17
9    Oct        73       54           96          34               0.81
10   Nov        64       48           84          30               1.70
11   Dec        58       42           73          21               2.56
12   Dec        58       42           73          21               2.56

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   month              13 non-null     object
 1   avg_high           13 non-null     int64
 2   avg_low            13 non-null     int64
 3   record_high        13 non-null     int64
 4   record_low         13 non-null     int64
 5   avg_precipitation  13 non-null     float64
dtypes: float64(1), int64(4), object(1)
memory usage: 752.0+ bytes

In [5]:
df.describe()

        avg_high    avg_low  record_high  record_low  avg_precipitation
count  13.000000  13.000000    13.000000   13.000000          13.000000
mean   67.769231  50.307692    89.923077   31.538462           1.296154
std     7.639305   6.316442    12.848226    8.501131           1.115210
min    58.000000  42.000000    73.000000   21.000000           0.000000
25%    61.000000  45.000000    78.000000   25.000000           0.170000
50%    67.000000  50.000000    92.000000   30.000000           1.020000
75%    75.000000  56.000000   102.000000   40.000000           2.340000
max    77.000000  59.000000   107.000000   44.000000           3.020000

In [ ]:
df.head()  #atspausdina pirmas eilutes. Standartiskai spausdina 5 pirmas, bet galima rinktis skaiciu

In [ ]:
df.tail(3)  # kaip ir head, tik nuo galo

In [ ]:
df. columns()

In [ ]:
df.sort_values('avg_high') #surusiuoja pagal pasirinkta stulpeli

In [ ]:
df.sort_values(['avg_high', 'record_high'], ascending=[True, False])  #rusiuojam pagal du pasirinktus stulpelius, ir nurodom, kad viena stulpeli didejancia, kita mazejancia tvarka

In [ ]:
df['record_low']  # grazina tik ta pasirinkta stulpeli

In [ ]:
df['naujas'] = [x for x in range(5, 5+len(df))]  # prideda nauja stulpeli prie df nurodom pavadinima, po = reiksme. Galima viena konkrecia reiksme irasyt, tada visa stulpeli uzpildys ta pacia reiksme, arba lista. bet listas turi buti tokio pat ilgio, kokia dabar lentele

In [ ]:
df.loc[9] # grazina pasirinkta eilute pagal jos indeksa

In [ ]:
del df['naujas']  # galutinai istrina pasirinkta stulpeli

In [ ]:
df.drop_duplicates   #pasalina pasikartojimus

In [ ]:
df.groupby('month').sum()  #sugrupuoja pagal nurodyta reiksme, tik po to butina nurodyti, ka padaryti su sugrupuotaisduomenim(sudeti, suskaiciuoti kiek yra duomenu ir pan)

In [ ]:
df.to_csv('duomenys.csv')   #issaugom csv. formatu
# inplace = True perra6ys irgi visa pagrindini faila

In [ ]:
tournament_df = df[df["away_team"] == "Lithuania"].groupby('tournament')[["home_score", "away_score"]].sum()
# gruopby padaro, kad tai nebe stulpelis, o indeksas

In [ ]:
tournament_df.loc['Baltic Cup']

In [ ]:
df["kazkoks stulpelis"] = df["home_score"] + 5

In [ ]:
#reiketu ismokti PEP 8 standarta