In [60]:
my_name = 'Justina'
my_surname = 'Maslinskaite'
print (my_name, my_surname)

Justina Maslinskaite

In [61]:
import this

In [62]:
my_intiger = 5
intiger_2 = 3
my_string = '3'
my_intiger + intiger_2

8

In [63]:
my_string_1 = "tekstas 'su viengubom kabutėm'"
print (my_string_1)

tekstas 'su viengubom kabutėm'

In [64]:
my_string_2 = 'tekstas "su dvigubom kabutėm"'
print (my_string_2)

tekstas "su dvigubom kabutėm"

In [65]:
my_string_3 = '''Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!'''
print (my_string_3)

Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [66]:
print (repr(my_string_3) )

"Now is better than never.\nAlthough never is often better than *right* now.\nIf the implementation is hard to explain, it's a bad idea.\nIf the implementation is easy to explain, it may be a good idea.\nNamespaces are one honking great idea -- let's do more of those!"

In [67]:
my_string_3 [9]

't'

In [68]:
my_string_2 [0 : 9]

'tekstas "'

In [69]:
my_string_3 [0:8:2]

'Nwi '

In [70]:
my_string_2 [:-6:2]

'tkts"udiuo a'

In [71]:
my_string_3.find ('explain')

108

In [72]:
find_word = 'better'
my_string_3[my_string_3.find(find_word):my_string_3.find(find_word)+len(find_word)]

'better'

In [73]:
my_string_4 = 'KORIS'
print (my_string_4.lower() )
print (my_string_4.title() )
my_string_4 = my_string_4.title()
print (my_string_4)

koris
Koris
Koris

In [74]:
print (my_string_2.count ('e'))

1

In [75]:
my_string_5 = 'Python makes me really really happy!'
print (my_string_5.upper ())

PYTHON MAKES ME REALLY REALLY HAPPY!

In [76]:
print (my_name + ' ' + my_surname)
print (my_name * 3)

Justina Maslinskaite
JustinaJustinaJustina

In [77]:
print (f'My name is {my_name} and surname {my_surname}') # f-string
hello_sentence = (f'My name is {my_name} and surname {my_surname}')
print (hello_sentence)

My name is Justina and surname Maslinskaite
My name is Justina and surname Maslinskaite

In [78]:
python_word = 'Python'
print (python_word.replace ('tho' , 'ThO'))

PyThOn

In [79]:
new_string = 'Hello World, I am happy to learn Python!'
find_word = 'happy'
new_string.find(find_word)

18

In [80]:
new_string [18:23]

'happy'

In [81]:
print (new_string.index('happy'))

18

In [88]:
len('happy')

5

In [92]:
new_string.find ('to')

24

In [93]:
new_string [24:26]

'to'

In [95]:
len (new_string)

40

In [102]:
int_1 = 17
int_2 = 3
print (int_1 - int_2)
print (int_1 + int_2)
print (int_1 * int_2)
print (int_1 % int_2)
print (int_1 / int_2)
print (int_1 // int_2)

14
20
51
2
5.666666666666667
5

In [106]:
float_1 = 6.6
float_2 = 3.2
print (float_1 + float_2)
print (float_1 * float_2)
print (float_1 % float_2)
print (float_1 / float_2)
print (float_1 // float_2)
print (float_1 - float_2)

9.8
21.12
0.1999999999999993
2.0624999999999996
2.0
3.3999999999999995

In [107]:
till_moon = 384000
till_sun = 150000000
print (till_sun / till_moon)

390.625

In [113]:
auto = 150
print (till_moon / auto)
print ((till_moon / auto) / 24)

2560.0
106.66666666666667

In [114]:
round (6,593254782)

6

In [130]:
print (3 < 4)
print ('u' in 'sun')
print ('s' in 'JUSTINA'.lower ())
print (True == 1)
print (False == 0)
bool ('a')

True
True
True
True
True

True

In [129]:
print (3 > 4)
print ('a' in 'sun')
print ('s' in 'JUSTINA')
print (True == 0)
bool ('')

False
False
False
False

False