In [1]:
groceries = ['aple' , 'bananas' , 'juice']

In [2]:
groceries[1]

'bananas'

In [4]:
len(groceries)

3

In [5]:
groceries.append('bread')

In [6]:
print(groceries)

['aple', 'bananas', 'juice', 'bread']

In [7]:
groceries = groceries + ['milk']

In [10]:
groceries = groceries * 2
print (groceries)

['aple', 'bananas', 'juice', 'bread', 'milk', 'aple', 'bananas', 'juice', 'bread', 'milk', 'aple', 'bananas', 'juice', 'bread', 'milk', 'aple', 'bananas', 'juice', 'bread', 'milk']

In [12]:
len(groceries)

20

In [14]:
groceries [10:17:3]

['aple', 'bread', 'bananas']

In [15]:
'cheese' in groceries

False

In [16]:
'milk' in groceries

True

In [17]:
groceries.count('bread')

4

In [20]:
print (groceries)
groceries.index('bread')

['aple', 'bananas', 'juice', 'bread', 'milk', 'aple', 'bananas', 'juice', 'bread', 'milk', 'aple', 'bananas', 'juice', 'bread', 'milk', 'aple', 'bananas', 'juice', 'bread', 'milk']

3

In [25]:
list_1 =[1, '2' , 3]
list_2 = [4 , 5, 6]
list_1.append(list_2) # pasiziuret
list_1.extend(list_2)
print(list_1)

[1, '2', 3, [4, 5, 6], 4, 5, 6]

In [23]:
list_3 = [1561, 110, 14, 5, 1, 7]
print(list_3)
list_3.sort(reverse=True)
print(list_3)

[1561, 110, 14, 5, 1, 7]
[1561, 110, 14, 7, 5, 1]

In [29]:
list_3.pop((2))

1

In [30]:
print(list_3.remove(5))

ValueError: list.remove(x): x not in list

In [32]:
# mutable and unmutable
number_1 = 5
number_2 = number_1
print (id(number_1) )
print(id(number_2))
number_2 = 10
print('after')
print (id(number_1) )
print(id(number_2))

230530181552
230530181552
after
230530181552
230530181712

In [34]:
list_1 = [5, 2, 3]
list_2 = list_1
print (id(list_1) )
print(id(list_2))
list_2.append(10)
print('after')
print (id(number_1) )
print(id(number_2))
print(list_1)
print(list_2)

230650171904
230650171904
after
230530181552
230530181712
[5, 2, 3, 10]
[5, 2, 3, 10]

In [ ]:
# how to fix this problem
list_2 = list_1.copy #netinka jei yra sarasas sarase
# safest way
import copy
list_2 = copy.deepcopy(list_1)

In [ ]:
_private_number # draugi6kai nurodo kitam =mogui, kad jis neturetu naudoti sio kintamojo (kaip ir private), bet techni6kai jokiu draudimu neuzdeda

In [ ]:
nested_list = [1, 10, 50 [1, [[[[[5]]]]]]], 2 ]]
nested_list[3][1][0][0][0][0][0][0]

In [39]:
# Tuple
tuple_1 = (1, 2, 3)
tuple_2 = ([ 51, 1], 'a', 3)

In [40]:
tuple_3 = tuple_1 + tuple_2
print (tuple_3)

(1, 2, 3, [51, 1], 'a', 3)

In [41]:
len(tuple_3)

6

In [43]:
'0' in tuple_3

False

In [ ]:
my_tuple = (1, 2, ['3, 4, 5'])

In [44]:
list_1 = [1, 2, 3]
print(list_1)
list_1[1] = 5
print(list_1)

[1, 2, 3]
[1, 5, 3]

In [45]:
# tuple sud4tingiau pakeisti reiksmes nei list
tuple_1 = [1, 2, 3]
print(tuple_1)
tuple_1[1] = 5
print(list_1)

[1, 2, 3]
[1, 5, 3]

In [47]:
tuple_1 = (11, [222, 33], 44, 55)
tuple_1[1][1] =22
print (tuple_1)

(11, [222, 22], 44, 55)

In [48]:
tuple1 = (1, 2, 3)
tuple2 = (4, 3, 5)
(tuple1 + tuple2)

(1, 2, 3, 4, 3, 5)

In [51]:
# ka=kas nesigavo
list_tup = list(tuple1)
print (list_tup)
list_tup[2] =5
print (list_tup)
tuple1 = tuple(list_tup)
print(tuple_1)

[1, 2, 3]
[1, 2, 5]
(11, [222, 22], 44, 55)

In [56]:
tuple_1 = (5, 106, 1, 4584)
print (tuple1)

(1, 2, 5)

[1, 2, 5]

In [58]:
tuple_ = (5, 106, 1, 4584, 1, 1, 5)
tuple_1.count(1)

1

In [59]:
max(tuple_1)
tuple_1.index[]

4584

In [62]:
# range

list (range(0, 101, 3))

[0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

In [63]:
list(range(0, -35, -3))

[0, -3, -6, -9, -12, -15, -18, -21, -24, -27, -30, -33]

In [64]:
# none deklaracija :kai kodo ra6ymo metu nezinai vertes
niekas = None
print(type(niekas) )

<class 'NoneType'>

In [70]:
for bet_koks_pavadinimas in range(10):
     print('dbar yra skaicius')
     print (bet_koks_pavadinimas)
     for skaicius in range(2):
        print ('ha')

dbar yra skaicius
0
ha
ha
dbar yra skaicius
1
ha
ha
dbar yra skaicius
2
ha
ha
dbar yra skaicius
3
ha
ha
dbar yra skaicius
4
ha
ha
dbar yra skaicius
5
ha
ha
dbar yra skaicius
6
ha
ha
dbar yra skaicius
7
ha
ha
dbar yra skaicius
8
ha
ha
dbar yra skaicius
9
ha
ha

In [75]:
cities = ['Vilnius', 'Kaunas', 'Klaipeda']
for city in cities:
    print (f'Dabar yra miestas - [city]')

Dabar yra miestas - [city]
Dabar yra miestas - [city]
Dabar yra miestas - [city]

In [78]:
# if
if 10 > 3:
    print('tai yra tiesa')
else:
    print ('nera tiesa')

tai yra tiesa

In [79]:
txt = ''
if txt:
    print (txt)
else:
    print('tuscias tekstas')

tuscias tekstas

In [81]:
skaicius = 5
if skaicius < 10:
    print ('skaicius maziau nei 10')
elif skaicius < 50:
    print ('skaicius maziau nei 50')
else:
    print ('skaicius ne maziau nei 50')

skaicius maziau nei 10

In [83]:
name = 'Darius'
number = 5
if name == 'Darius' and number ==5:
    print ('this is true')

this is true

In [ ]:
kombinacijos = []
for value_1 in a:
    for value_2 in b:
        for value_3 in c:
            kombinacijos.append( [value_1, value_2, value_3] )
kombinacijos.sort(key=lanbda x: x[2], reverse=True)
print (kombinacijos)

In [ ]:
for number in range(1,101)
    result = ''
    if number %2:
        result += 'Fizz'
        if number % 3 == 0:  # // dalybos liekana
            rezult += 'buzz'
            print (f'{number} - {result}')